
@charset"utf-8";
html {
   background: #696969  ;
   background-color: #696969  ;
   border-width: 2px;
   border-color: #7f7f7f;
   border-style: dashed;
   border-radius: 8px;

}

select {
    border: 1px solid #7f7f7f;
    margin: 6;
}
body {
   background: #696969  !important;
   background-color: #696969  ;
   font-family: Arial, sans-serif;
}

h1 {
    font-weight: 200;
    text-align: center;
    color: white;
}

h2 {
    font-weight: 200;
    text-align: center;
    color: white !important;
}


.node circle {
  fill: #fff;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#filename {
    font-weight: 5;
    margin : 6;
}

#targetdirectorydiv {
    font-weight: 5;
    margin : 6;
}

#url {
    font-weight: 5;
    margin : 6;
}

#mime {
    font-weight: 5;
    margin : 6;
}

#referrer {
    font-weight: 7;
    margin : 6;
}

#showrules {
    font-weight: 30;
    border: 1px solid #aaa;
    background-color: #708090;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

.oddclassrule {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

#button-menu {
text-align: center;
}
.evenclassrule {
    border: 1px solid #aaa;
    background-color: #555;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

#info {
    width: auto;
    overflow: hidden;
    padding: 5px;
    margin : 6;
    font-weight: 10;
    font-Size : medium;
}
#error {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}
#addtext {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin:6
}

#filterbox {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

/* CSS Document */
 .link10 {
    stroke: #ccc;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}
.link1 {
    stroke: #000;
    stroke-width: 2px;
}
.nodetext {
    pointer-events: none;
}
.node.type1 {
    fill:white;
    stroke: green;
    stroke-width: 1.5px;
}
.node.type2 {
    fill:#BF0426;
}
.node.type3 {
    fill:#690011;
    stroke:#1695A3;
    stroke-width: 1px;
}
.node.type4 {
    fill:#FFFFFF;
    stroke:#1695A3;
    stroke-width: 3px;
}
.node.type5 {
    fill:#1BC9E0;
}
.node.type6 {
    fill:#E01B98;
}
image.circle {
    cursor:pointer;
}
.fadein {
    display:none;
    font-size:20px;
}
.rectD {
    background-color:#000000;
    width:70px;
    height:30px
}
.rectL {
    background-color:#000000;
    width:90px;
    height:30px
}
