
@charset"utf-8";
html {
   border-width: 2px;
   border-color: #7f7f7f;
   border-style: dashed;
   border-radius: 8px;

}

body {
   background: #696969  ;
   color: #eee;
   font-family: "Open Sans", Arial, sans-serif;
}

h1 {
    font-weight: 200;
    color: white;
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#filename {
    font-weight: 60;
    margin : 6;
    font-Size : large;
    
}

#showrules {
    border: 1px solid #aaa;
    background-color: #708090;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

.oddclassrule {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

.evenclassrule {
    border: 1px solid #aaa;
    background-color: #555;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}

#info {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin : 6;
}
#error {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
}
#addtext {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    margin:6
}
#filterbox {
    border: 1px solid #aaa;
    background-color: #777;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

/* CSS Document */
 .link10 {
    stroke: #ccc;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}
.link1 {
    stroke: #000;
    stroke-width: 2px;
}
.nodetext {
    pointer-events: none;
}
.node.type1 {
    fill:#690011;
}
.node.type2 {
    fill:#BF0426;
}
.node.type3 {
    fill:#E5B96F;
}
.node.type4 {
    fill:#FFFFFF;
    stroke:#1695A3;
    stroke-width: 3px;
}
.node.type5 {
    fill:#1BC9E0;
}
.node.type6 {
    fill:#E01B98;
}
image.circle {
    cursor:pointer;
}
.fadein {
    display:none;
    font-size:20px;
}
.rectD {
    background-color:#000000;
    width:70px;
    height:30px
}
.rectL {
    background-color:#000000;
    width:90px;
    height:30px
}
